* {
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
}

iframe {
  margin: auto;
  border: 4px solid black;
}

.input-text {
  border-width: 2px;
  border-radius: 4px;
  width: 48px;
}

.slider {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 2px auto;
}
.slider > span, .slider > label {
  flex: 1 1 50px;
}
.slider > span {
  text-align: left;
}
.slider > label {
  text-align: right;
}

.side-by-side > * {
  min-width: 307px;
}

#armor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin: auto;
  width: 90%;
}
#armor-list > * {
  width: 100%;
}

.list-element {
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
}

table {
  margin: auto;
}

.vlist {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.br-small {
  height: .8em;
}

/* Stat Classes */
.power {
  color: rgb(255, 110, 10);
}
.defense {
  color: rgb(140, 130, 130);
}
.size {
  color: rgb(21, 193, 21);
}
.intensity {
  color: rgb(197, 192, 52);
}
.speed {
  color: rgb(39, 115, 209);
}
.agility {
  color: rgb(43, 199, 213);
}
/* Armor Classes */
.argos {
  color: rgb(229, 166, 30);
}
.carina {
  color: rgb(246, 49, 18);
}
.cernyx {
  color: rgb(56, 135, 67);
}
.elius {
  color: rgb(142, 185, 1);
}
.king {
  color: rgb(219, 84, 21);
}
.sunken {
  color: rgb(22, 140, 180);
}


.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
  vertical-align: middle;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

.big {
  font-size: larger;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  margin: 4px auto;
  width: 60%;
  max-width: 300px;
}

.flex * {
  text-align: center;
}

.flex > div {
  min-width: 150px;
}

.side-by-side > * {
  display: inline-block;
}

svg {
  width: 25px;
  height: 25px;
}

line {
  stroke: black;
  stroke-width: 3px;
}

button {
  margin: 10px 0px;
  padding: 0px;
  border: 0;
  background-color: transparent;
  /* font-size: medium; */
}
button#visibility-button {
  font-size: large;
}

button.toggle {
  padding: 4px 6px;
  border: 1px black solid;
  background-color: whitesmoke;
}

button.toggle:hover {
  background-color: lightgray;
}

button.toggle:active {
  background-color: darkgray;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 601px) {
  .flex {
    width: 50%;
  }
}

@media (min-width: 721px) {
  .flex {
    width: 40%;
  }
  
  #armor-list {
    flex-direction: row;
  }
  #armor-list > * {
    width: calc(50% - 5px);
  }
}

@media (min-width: 1081px) {
  #armor-list > * {
    width: calc(33.3% - 6.67px);
  }
}

@media (min-width: 1441px) {
  #armor-list > * {
    width: calc(25% - 7.5px);
  }
}

@media (min-width: 1801px) {
  #armor-list > * {
    width: calc(20% - 8px);
  }
}