@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Comic Sans MS, sans-serif;
  text-align: center;
  font-size: large;
}

/* Stat Classes */
.power {
  color: rgb(255, 110, 10);
}
.defense {
  color: rgb(140, 130, 130);
}
.size {
  color: rgb(21, 193, 21);
}
.intensity {
  color: rgb(206, 204, 149);
}
.speed {
  color: rgb(39, 115, 230);
}
.agility {
  color: rgb(43, 199, 213);
}
.regeneration {
  color: rgb(20, 200, 20);
}
.resistance {
  color: rgb(40, 100, 220);
}
.armorpiercing {
  color: rgb(230, 20, 0);
}
.insanity {
  color: rgb(174, 0, 255);
}
.warding {
  color: rgb(189, 189, 98);
}
.drawback {
  color: rgb(185, 52, 52);
}

/* Armor Classes */
.argos {
  color: rgb(229, 166, 30);
}
.carina {
  color: rgb(246, 49, 18);
}
.cernyx {
  color: rgb(56, 135, 67);
}
.elius {
  color: rgb(142, 185, 1);
}
.king {
  color: rgb(219, 84, 21);
}
.sunken {
  color: rgb(22, 140, 180);
}
.vatrachos {
  color: rgb(196, 17, 17);
}