@tailwind utilities;

* {
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
}

iframe {
  margin: auto;
  border: 4px solid black;
}

.input-text {
  width: 48px;
}

input[type=button], input[type=text], button {
  border: 2px solid black;
  border-radius: 6px;
}
input[type=button], button {
  background-color: #eee;
  transition: background-color 50ms ease-in-out;
  padding: 4px 8px;
}
input[type=button]:hover, button:hover {
  background-color: #ddd;
  cursor: pointer;
}
input[type=button]:active, button:active {
  background-color: #ccc;
}

.slider {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 2px auto;
}
.slider > span, .slider > label {
  flex: 0 1 150px;
}
.slider > span {
  text-align: left;
}
.slider > label {
  text-align: right;
}

.side-by-side > * {
  min-width: 307px;
}

#armor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin: auto;
  width: 90%;
}
#armor-list > * {
  width: 100%;
}

.list-element {
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
}

table {
  margin: auto;
}

.vlist {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.br-small {
  height: .8em;
}

/* Stat Classes */
.power {
  color: rgb(255, 110, 10);
}
.defense {
  color: rgb(140, 130, 130);
}
.size {
  color: rgb(21, 193, 21);
}
.intensity {
  color: rgb(206, 204, 149);
}
.speed {
  color: rgb(39, 115, 209);
}
.agility {
  color: rgb(43, 199, 213);
}
.insanity {
  color: rgb(174, 0, 255);
}
.warding {
  color: rgb(189, 189, 98);
}
.drawback {
  color: rgb(185, 52, 52);
}

/* Armor Classes */
.argos {
  color: rgb(229, 166, 30);
}
.carina {
  color: rgb(246, 49, 18);
}
.cernyx {
  color: rgb(56, 135, 67);
}
.elius {
  color: rgb(142, 185, 1);
}
.king {
  color: rgb(219, 84, 21);
}
.sunken {
  color: rgb(22, 140, 180);
}
.vatrachos {
  color: rgb(196, 17, 17);
}


.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
  vertical-align: middle;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

.big {
  font-size: larger;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  margin: 4px auto;
  width: 60%;
  max-width: 300px;
}

.flexbox * {
  text-align: center;
}

.flexbox > div {
  min-width: 150px;
}

.side-by-side > * {
  display: inline-block;
}

line {
  stroke: black;
  stroke-width: 3px;
}

button#visibility-button {
  font-size: large;
}

button.toggle {
  padding: 4px 6px;
}

button:hover {
  cursor: pointer;
}

.checkbox-group, .slider-group {
  flex: 0 1 100%;
  width: min-content;
}

.drop-button {
  padding: 8px;
  width: 50%;
  max-width: 800px;
}

.dropdown-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-out
}
.dropdown-wrapper.dropdown-active {
  grid-template-rows: 1fr;
}
.dropdown-content {
  overflow: hidden;
}

@media (min-width: 601px) {
  .flexbox {
    width: 50%;
  }
}

@media (min-width: 721px) {
  .flexbox {
    width: 40%;
  }
  
  #armor-list {
    flex-direction: row;
  }
  #armor-list > * {
    width: calc(50% - 5px);
  }
}

@media (min-width: 1081px) {
  #armor-list > * {
    width: calc(33.3% - 6.67px);
  }

  .checkbox-group, .slider-group {
    flex: 0 1 40%;
  }
}

@media (min-width: 1441px) {
  #armor-list > * {
    width: calc(25% - 7.5px);
  }
}

@media (min-width: 1801px) {
  #armor-list > * {
    width: calc(20% - 8px);
  }
}